*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width:100%;
    height: 100%;
}
body{
    background-color:lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height:480px;
    width: 300px;
    background-color: rgb(31, 31, 31);
    /* border-radius: 15px; */
    box-shadow: 0 5px 10px black;
    position: relative;
    overflow: hidden;
}
.storyes{
    height: 120px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.486);
    white-space: nowrap;
    overflow-X: auto;
    overflow-y: hidden;

}
.storyes::-webkit-scrollbar{
    display: none;
}
.storyes .story{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: linear-gradient(rgb(177, 177, 16),orange,rgb(248, 74, 103),purple,blue);
    padding: 3px;
    /* border: 3px solid red; */
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}
.storyes .story img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position:center;
  
}
#full-screen{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    position: absolute;
    background-size: cover;
    position: center;
    overflow: hidden;
    transition: all ease 0.3s;
    display: none;
}
#full-screen:hover{
    scale: 1.2;
}
.head{
    width:100%;
    height:50px;
    padding: 10px;
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content:start;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;

}
.head img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: brown;
    object-fit: cover;
}
.head p{
    color: #fff;
    padding-left:10px;
}
.head .dot{
    font-size: 30px;
    color: #fff;
    padding-left:160px;
}
.page{
    width: 100%;
    height: 48%;
    background-size: cover;
    position: center;
    overflow: hidden;
}
.page img{
    width:100%;
    object-fit: cover;
}
.icon{
    width:100%;
    height:50px;
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    padding-bottom: 5px;
    overflow: hidden;
}
.icon i{
    font-size: 25px;
    color: #fff;
}