* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("Z.jpg ");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.game {
    width: 800px;
    height: 300px;
    border: 2px solid #000000;
    margin: auto;
    background-color: aliceblue ;
}
#dino {
    width: 70px;
    height: 70px;
    background-image: url(img/t-rex.png);
    background-size: auto 70px;
    position: relative;
    top: 230px;
}
.jump {
    animation: jump 0.2s linear;
}
@keyframes jump {
    0% {
        top: 230px; 
    }
    30% {
        top: 220px;
    }
    50% {
        top: 60px;
    }
    80% {
        top: 200px;
    }
    100% {
        top: 230px;
    }
}
#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 180px;
    left: 580px; 
    background-image: url(img/cactus.png);
    background-size: 20px 40px;
    animation: cactus-block 1.2s infinite linear;
}
@keyframes cactus-block {
    0% {
        left: 600px;
    }
    100% {
        left: -20px;
    }
}