*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:darksalmon;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
}
section{
    background-color: aliceblue;
    position: absolute;
    top:200px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 10px 25px black;
}
section .in{
    display: flex;
    flex-direction: row;
    gap:15px
}
section button{
    background-color:coral;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
